{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "dynamicImport": false,
            "decorators": false,
            "dts": false
        },
        "target": "es2021",
        "loose": false,
        "externalHelpers": false,
        "keepClassNames": true,
        "preserveAllComments": false,
        "transform": {
            "optimizer": {}
        },
        "minify": {
            "mangle": {
                "toplevel": true
            },
            "format": {
                "comments": false,
                "ecma": 2021
            },
            "compress": {
                "ecma": 2021
            }
        }
    },
    "minify": true,
    "sourceMaps": false
}
